@import "./loading/loading_page.scss";
// @import "./plugins/gist-dark-theme.scss";
@import "./animations/ringing_bell.scss";
// @import "./animations/ringing_bell_reverse.scss";
@import "./animations/hand_wave.scss";
@import "./animations/fire.scss";
@import "./animations/no_animation_on_hover.scss";
@import "./animations/bounce_arrow.scss";
@import "./animations/pulse.scss";
@import "./blogs/blog_separator.scss";
// @import "@vuetify/"

.content-middle,
.flex-middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.w-100{
	width: 100%;
}

.transparent-light{
	background-color: rgba(255,255,255, .9)!important;
	backdrop-filter: blur(10px);
}

.sticky-top{
	position: sticky!important;
	top: 0;
	z-index: 1;
}
.sticky-bottom{
	position: sticky!important;
	bottom: 0;
	z-index: 1;
}

.v-application .glass{
	background: linear-gradient(45deg, rgba(255,255,255, .5), rgba(255,255,255, .9))!important;
	backdrop-filter: blur(10px);
}
.v-application .glass-sm{
	background: linear-gradient(45deg, rgba(255,255,255, .25), rgba(255,255,255, .5))!important;
	backdrop-filter: blur(10px);
}

.shadow{
	box-shadow: 0px 1rem 2rem rgba(0,0,0, .015)!important;
	&-md{
		box-shadow: 0px 2rem 3rem rgba(0,0,0, .05)!important;
	}
	&-lg{
		box-shadow: 0px 2rem 4rem rgba(0,0,0, .15)!important;
	}
}

.flex-wrap{
	flex-wrap: wrap;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.15);
	z-index: 1;
	&.blur:hover{
		backdrop-filter: blur(2px);
	}
}

::-webkit-scrollbar{
	width: .5rem;
}
::-webkit-scrollbar-thumb{
	transition: all .25s ease;
	background: rgba($color: #000, $alpha: .5);
	border-radius: 4px;
}

.v-application {
	.list-active{
		background: linear-gradient(45deg, var(--v-primary-base), #7986CB);
		// --v-primary-base: #fff;
		color: #fff!important;
		border-radius: 1rem!important;
		padding-left: 1.5rem!important;
		position: relative;
		// margin-left: .5rem;
		transition: all .2s ease;
		&::before{
			border-radius: 1rem!important;
		}
		&::after{
			content: '';
			position: absolute;
			box-shadow: 0 0 1rem rgba(0,0,0,0.5);
			top: 50%;
			left: 0;
			width: 6px;
			height: 2rem!important;
			background: var(--v-primary-base);
			opacity: 1!important;
			border-radius: 0 5px 5px 0!important;
			min-height: unset;
			transform: translateX(calc(-32px)) translateY(-50%);
		}
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}