@import "./loading/loading_page.scss";

.content-middle,
.flex-middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.w-100{
	width: 100%;
}

.transparent-light{
	background-color: rgba(255,255,255, .9)!important;
	backdrop-filter: blur(10px);
}

.sticky-top{
	position: sticky;
	top: 0;
	z-index: 1;
}

.v-application .glass{
	background: linear-gradient(45deg, rgba(255,255,255, .5), rgba(255,255,255, .9))!important;
	backdrop-filter: blur(10px);
}