.loading.page {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  display: none;
}
.loading.page[v-cloak] {
  display: flex;
}

.ringing-bell {
  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
          animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }
  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
.no-animation-on-hover:hover {
  -webkit-animation: none !important;
          animation: none !important;
}
.no-animation-on-hover:hover.-r * {
  -webkit-animation: none !important;
          animation: none !important;
}

.content-middle,
.flex-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.transparent-light {
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.sticky-top {
  position: sticky !important;
  top: 0;
  z-index: 1;
}

.sticky-bottom {
  position: sticky !important;
  bottom: 0;
  z-index: 1;
}

.v-application .glass {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)) !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.shadow {
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.015) !important;
}
.shadow-md {
  box-shadow: 0px 2rem 3rem rgba(0, 0, 0, 0.05) !important;
}
.shadow-lg {
  box-shadow: 0px 2rem 4rem rgba(0, 0, 0, 0.15) !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.overlay.blur:hover {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
