.fire{
	animation-name: flicker;
	animation-duration: 3ms;
	animation-delay: 200ms;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes flicker{
	0%   {transform: rotate(-2deg);}
	20%  {transform: rotate(2deg);}
	40%  {transform: rotate(-2deg);}
	60%  {transform: rotate(2deg) scaleY(1.04);}
	80%  {transform: rotate(-4deg) scaleY(0.92);}
	100% {transform: rotate(2deg);}
}